# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/

# Visual Studio
.vs/
*.user
*.suo

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
coverage*.json
coverage*.xml
coverage*.info

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
crash.log
crash.*.log

# Docker
.env

# OS files
.DS_Store
Thumbs.db
